@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

//Fontes:
$fonte-padrao: 'Montserrat', sans-serif;

//Cores:
$branco: #FFFFFF;
$preto: #000000;
$cinza: #E2E2E2;
$cinza-escuro: #100f10;
$cor-valorant: #FF4654;